body {
      margin: 0;
      background-image: url(../images/gravel.png);
}
header {
    width: 100%;
    height: 100px;
    margin: 0 auto;
    background-color: white;
    border-bottom: 2px solid lightgray;
    
}

.headerContainer {
    width: 960px;
    margin: 0 auto;
}

h1 {
    background-color: lightseagreen;
    height: 70px;
    float: left;
    padding: 25px 10px 5px;
    margin: 0;
    border:0;
    color: white;
    font-size: xx-large;
}

nav {
    float: right;
    padding: 35px 0 0 0;
}

a {
    text-decoration: none;
    color: grey;
    font-size: 18px;
    padding: 0 10px 0 0;
}

section {
    width: 920px;
    margin: 45px auto;
    background-color: white;
    padding: 20px;
    overflow: auto;
    border: 2px solid lightgrey;
    
}

img {
    float:left;
    margin: 20px 15px;
}

footer {
    width: 100%;
    background-color: gray;
    height: 70px;
    text-align: center;
    border-top: solid darkgray 1px;
    padding-top: 10px;
    border-top: 10px solid lightseagreen;
    color: white;
    
    
} 

h2 {
    color: lightseagreen;
    font-size: xx-large;
    border: 0;
    padding: 0;
    margin: 0;
}

hr {
    height: 2px;
    background-color: lightgrey;
    border: none;
    color: lightgray;
}

p {
    line-height: 1.5;

}

.contactArea {
    background-color: white;
    width: 920px;
    margin: 55px auto 200px;
    padding: 20px;
    font-size: 20px;
    

}

form {
    height: 400px;
    font-size: 17px;
    color: darkgray;
}

input  {
    width: 100%;
    height: 20px;
    
}

input[type="submit" i] {
    text-align: center;
    color: white;
    background: lightseagreen;
    height: 40px;
    width: 100px;
    font-size: large;

}

textarea {
    border-color: lightgray;
}


figure {
    background-color: lightseagreen;
    width: 250px;
    height: 40px;
    color: white;
    text-align: center;
    font-size: large;

}

.parentBoxset {
    position: relative;
}

.box-1 {
    position: absolute;
    top: 200px;
    bottom: 0;
    right: 0;
    left: 15px;
    margin: 0;
    padding: 15px 0 0 0;
}

.box-2 {
    position: absolute;
    top: 200px;
    bottom: 0;
    right: 0;
    left: 295px;
    margin: 0;
    padding: 15px 0 0 0;
}

.box-3 {
    position: absolute;
    top: 200px;
    bottom: 0;
    right: 0;
    left: 575px;
    margin: 0;
    padding: 15px 0 0 0;
}

.box-4 {
    position: absolute;
    top: 490px;
    bottom: 0;
    right: 0;
    left: 15px;
    margin: 0;
    padding: 15px 0 0 0;
}

.box-5 {
    position: absolute;
    top: 490px;
    bottom: 0;
    right: 0;
    left: 295px;
    margin: 0;
    padding: 15px 0 0 0;
}